<?xml version="1.0"?>
<config>
	<modules>
		<Dczm_FinalProductsGridOfUltimateDoom>
			<version>1.0.8</version>
		</Dczm_FinalProductsGridOfUltimateDoom>
	</modules>
	<global>
		<resources>
			<finalproductsgridofultimatedoom_setup>
				<setup>
					<module>Dczm_FinalProductsGridOfUltimateDoom</module>
					<class>Dczm_FinalProductsGridOfUltimateDoom_Tower_Prepare</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</finalproductsgridofultimatedoom_setup>
			<finalproductsgridofultimatedoom_write>
				<connection>
					<use>core_write</use>
				</connection>
			</finalproductsgridofultimatedoom_write>
			<finalproductsgridofultimatedoom_read>
				<connection>
					<use>core_read</use>
				</connection>
			</finalproductsgridofultimatedoom_read>
		</resources>
		<models>
			<finalproductsgridofultimatedoom>
				<class>Dczm_FinalProductsGridOfUltimateDoom_Tower</class>
			</finalproductsgridofultimatedoom>
		</models>
		<helpers>
			<finalproductsgridofultimatedoom>
				<class>Dczm_FinalProductsGridOfUltimateDoom_Recluse</class>
			</finalproductsgridofultimatedoom>
		</helpers>
		<blocks>
			<finalproductsgridofultimatedoom>
				<class>Dczm_FinalProductsGridOfUltimateDoom_Elevation</class>
			</finalproductsgridofultimatedoom>
		</blocks>
	</global>
	<adminhtml>
		<layout>
			<updates>
				<finalproductsgridofultimatedoom>
					<file>finalproductsgridofultimatedoom.xml</file>
				</finalproductsgridofultimatedoom>
			</updates>
		</layout>
		<events>
			<core_block_abstract_prepare_layout_before>
				<observers>
					<finalproductsgridofultimatedoom>
						<class>Dczm_FinalProductsGridOfUltimateDoom_Tower_Sauron</class>
						<method>look</method>
					</finalproductsgridofultimatedoom>
				</observers>
			</core_block_abstract_prepare_layout_before>
			<catalog_product_attribute_update_before>
				<observers>
					<finalproductsgridofultimatedoom>
						<class>Dczm_FinalProductsGridOfUltimateDoom_Tower_Sauron</class>
						<method>lookCats</method>
					</finalproductsgridofultimatedoom>
				</observers>
			</catalog_product_attribute_update_before>
		</events>
	</adminhtml>
	<default>
		<catalog>
			<finalproductsgridofultimatedoom>
				<show_tree>1</show_tree>
				<show_by>2</show_by>
			</finalproductsgridofultimatedoom>
		</catalog>
	</default>
</config>
